In [1]:
import pandas as pd

# Método de leitura de um arquivo Excel :

-   Arquivo teste 'stage1.1/bairros.xlsx';

bairros = pd.read_excel(
    io = 'stage1.1/bairros.xlsx',               -----> Arquivo onde está planilha que quero carregar como DataFrame;
    sheet_name = 'Preço médio por tipo',        -----> Nome da planilha dentro do arquivo bairros.xlsx que será usada para importar os dados;
    usecols = 'C:E',                            -----> Seleciona quais as colunas onde estão armazenados os dados que desejo ler no DataFrame (leitura: da coluna 'C' até a coluna 'E');
    header = 2,                                 -----> Indica qual é a linha onde deve começar a ser lido os dados (lembrando que respeita a indexação do python começando do 0);
    index_col = [0,1],                          -----> Indica quais colunas serão usadas como indices o DataFrame que será carregado;
    names = ['bairros','tipo','valor_m2_bairro']-----> Seta qual o nome que será usado nas colunas que serão carregadas para o DataFrame.
)

In [3]:
bairros = pd.read_excel(
    io = 'stage1.1/bairros.xlsx',               
    sheet_name = 'Preço médio por tipo',        
    usecols = 'C:E',                           
    header = 2,                                 
    index_col = [0,1],                          
    names = ['bairros','tipo','valor_m2_bairro']
)
bairros

                                valor_m2_bairro
bairros       tipo
São Cristóvão Casa                        13793
              Apartamento                  6306
              Cobertura                   11695
              Consultório                  6991
              Imóvel Comercial            19633
...                                         ...
Vista Alegre  Cobertura                   16567
              Consultório                  5812
              Imóvel Comercial            12895
              Loja                         6182
              Sala Comercial               3377

[1127 rows x 1 columns]