In [1]:
import pandas as pd

No arquivo Excel (XLSX) disponibilizado (bairros.xlsx) temos duas planilhas. Na planilha “Residencial X Comercial”, temos os valores do m2 para imóveis comerciais e residenciais nos bairros da cidade do Rio de Janeiro. Temos também a divisão regional das informações por zonas da cidade.

Utilizando esta planilha e o método read_excel() do pandas obtenha o seguinte DataFrame:

============================================================
Zonas	        Bairros	        Residencial	    Comercial
Sul	            Botafogo	    14002	        7972
                Catete	        15232	        6259
                Copacabana	    23318	        9355
                Cosme Velho	    10320	        8177
                Flamengo	    19636	        7135
                Gávea	        13506	        8211
                Humaitá	        10603	        5039
                Ipanema	        15965	        7293
                Jardim Botânico	17243	        8095
                Lagoa	        24982	        6584
                Laranjeiras	    17307	        7745
                Leblon	        13815	        8125
                Leme	        15815	        8587
                Rocinha	        15110	        9023
                São Conrado	    20727	        9587
                Urca	        22876	        6607
                Vidigal	        23470	        5424

============================================================

Observe que foram selecionadas apenas as linhas dos bairros pertencentes à zona sul da cidade.

Marque a opção que apresenta o código necessário para criar o DataFrame acima.

Alternativa correta! 
Observe que neste exemplo deixamos o parâmetro header com a configuração default (0) e utilizamos os parâmetros skiprows=18 e nrows=17. 

Lembrando que skiprows informa o “índice” da linha em que o corte será realizado e esta indexação tem início no valor 0, ou seja, skiprows=18 representa que o método read_excel() deve ignorar as dezenove primeiras linhas da planilha.

Já nrows=17 informa o número de linhas, a partir do corte, que devem ser consideradas.

In [19]:
bairros = pd.read_excel(
    io="stage1.1/bairros.xlsx", 
    sheet_name="Residencial X Comercial", 
    usecols="B:E",
    index_col=[0, 1],
    skiprows=18,
    nrows=17,
    names=['Zonas', 'Bairros', 'Residencial', 'Comercial']
)
bairros

                       Residencial  Comercial
Zonas Bairros
Sul   Botafogo               14002       7972
      Catete                 15232       6259
      Copacabana             23318       9355
      Cosme Velho            10320       8177
      Flamengo               19636       7135
      Gávea                  13506       8211
      Humaitá                10603       5039
      Ipanema                15965       7293
      Jardim Botânico        17243       8095
      Lagoa                  24982       6584
      Laranjeiras            17307       7745
      Leblon                 13815       8125
      Leme                   15815       8587
      Rocinha                15110       9023
      São Conrado            20727       9587
      Urca                   22876       6607
      Vidigal                23470       5424