In [1]:
import pandas as pd

# Lendo arquivo Json:

In [13]:
dados = pd.read_json(path_or_buf = 'stage1.1/realestates.json', orient = 'columns')
dados

,normal,highlights
output,{'listings': [{'imovel': {'tipos': {'proprieda...,{'listings': [{'imovel': {'tipos': {'proprieda...

In [3]:
dados_normal_listings = pd.json_normalize(data=dados.normal, sep='_', record_path=['listings'])
dados_normal_listings.head()

,imovel_tipos_propriedade,imovel_endereco_bairro,imovel_endereco_localizacao_type,imovel_endereco_localizacao_coordinates,imovel_vagasGaragem,imovel_area,imovel_caracteristicas_propriedade,imovel_caracteristicas_condominio,imovel_caracteristicas_entorno,anuncio_tipos_publicacao,anuncio_tipos_listagem,anuncio_valores_venda,anuncio_valores_aluguel,anuncio_valores_condominio,anuncio_valores_iptu,anuncio_descricao
0,Casa,Barra da Tijuca,Point,"[-43.3039086, -23.0139692]",4,279,"['Área de Serviço', 'Terraço', 'Churrasqueira'...","['Churrasqueira', 'Salão de Jogos', 'Sauna', '...","['Próximo a Escola Particular', 'Próximo ao Me...",Padrão,Lançamento,2400000.0,0.0,790.0,5700.0,"Amplo imóvel para venda com 3 quartos, sendo 1..."
1,Apartamento,Campo Grande,Point,"[0, 0]",1,60,['Sauna'],"['Elevador', 'Playground', 'Salão de Festas', ...","['Próximo ao Shopping', 'Próximo a Áreas de La...",Padrão,Usado,200000.0,0.0,0.0,0.0,"Amplo imóvel para venda com 2 quartos, sendo 0..."
2,Cobertura,Barra da Tijuca,Point,"[-43.3037186, -22.9951304]",2,380,"['Acessibilidade', 'Área de Serviço', 'Sauna',...","['Sauna', 'Playground', 'Quadra Poliesportiva'...",['Próximo a Escola Particular'],Premium,Usado,4400000.0,0.0,1200.0,850.0,"Amplo imóvel para venda com 5 quartos, sendo 4..."
3,Cobertura,Barra da Tijuca,Point,"[-43.3548121, -23.0097423]",1,73,"['Vista Panorâmica', 'Piscina', 'Sauna', 'Clos...","['Quadra Poliesportiva', 'Aceita Pet', 'Playgr...","['Próximo a Farmácia', 'Próximo a Academia', '...",Padrão,Usado,1100000.0,0.0,1300.0,364.0,"Amplo imóvel para venda com 2 quartos, sendo 1..."
4,Sala Comercial,Glória,Point,"[-43.1779703, -22.9174894]",1,32,['Armários Planejados'],"['Quadra Poliesportiva', 'Porteiro 24 Horas', ...","['Próximo a Centro Empresarial', 'Próximo a Ár...",Padrão,Usado,260000.0,0.0,450.0,800.0,"Amplo imóvel para venda com 0 quartos, sendo 0..."

##### Para selecionar uma celula em uma coluna especifica do DataFrame:
Função Loc: 
    
    pd.DataFrame.loc['posição_celula_desejada','coluna_da_celula']


Ex:
    
    dados_normal_listings.loc[0,'imovel_caracteristicas_propriedade']

##### Dado retornado dentro do campo "imovel_caracteristicas_propriedade"

-   Apesar de se parecer com uma lista é uma string que contem uma lista de str!

In [4]:
lista_str = dados_normal_listings.loc[0,'imovel_caracteristicas_propriedade']
lista_str

"['Área de Serviço', 'Terraço', 'Churrasqueira', 'Quarto/WC Empregada', 'Sauna', 'Varanda', 'Gás Encanado', 'Closet', 'Piscina', 'Mobiliado', 'Armários Planejados', 'Acessibilidade']"

In [5]:
type(lista_str)

str

#### Como transformar essa string em uma lista legitima?

##### Começamos retirando os colchetes:

    - Podemos retirar os colchetes através de uma simples filtragem de dados: lista_str[1:-1].
        
        Desta forma selecionamos o segundo item da lista e o penultimo e apresentamos uma str que não contenha os dois valores.

In [6]:
lista_str[1:-1]

"'Área de Serviço', 'Terraço', 'Churrasqueira', 'Quarto/WC Empregada', 'Sauna', 'Varanda', 'Gás Encanado', 'Closet', 'Piscina', 'Mobiliado', 'Armários Planejados', 'Acessibilidade'"

##### Outra forma de reritar os colchetes:

    - Podemos também retirar os colchetes através da função strip do python:

        lista_str.strip("[]")

        Desta forma o que esta sendo passado como argumento para a função strip será retirado da string.

In [7]:
lista_str.strip("[]")

"'Área de Serviço', 'Terraço', 'Churrasqueira', 'Quarto/WC Empregada', 'Sauna', 'Varanda', 'Gás Encanado', 'Closet', 'Piscina', 'Mobiliado', 'Armários Planejados', 'Acessibilidade'"

##### Retirando as aspas duplas:

    - Para retirar as aspas duplas poderiamos utilizar dos métodos exemplificados anteriormente, ou, também podemos utilizar o método replace() incluso tanto no Pandas quanto na propria linguagem python;

    ex: lista_str[1:-1].replace("'","")

        Neste caso estamos retirando os colchetes com a primeira parte do código "lista_str[1:-1]" e aplicamos a string resultante desse filtro o método ".replace("'","")" que irá substituir as aspas simples por "nada".

        Obs: Também é possível aplicar dois ou + replaces na mesma string:

            lista_str.replace("[", "").replace("]", "").replace("'","")

            O resultado seria o mesmo!

In [8]:
str_dados = lista_str.replace("[", "").replace("]", "").replace("'","")
str_dados

'Área de Serviço, Terraço, Churrasqueira, Quarto/WC Empregada, Sauna, Varanda, Gás Encanado, Closet, Piscina, Mobiliado, Armários Planejados, Acessibilidade'

##### Transformando a string em lista:

    -   Para transformar a string criada em uma lista Python utilizaremos o método split(), que consiste em realizar a separação de uma string em uma lista de str utilizando como padrão para separação o valor passado como paramêtro:

    ex: 

            str_dados = 'Área de Serviço, Terraço, Churrasqueira, Quarto/WC Empregada, Sauna, Varanda, Gás Encanado, Closet, Piscina, Mobiliado, Armários Planejados, Acessibilidade'
            

            lista = str_dados.split(",")
            
            print(lista)


            >>>['Área de Serviço',' Terraço', ' Churrasqueira', ' Quarto/WC Empregada', ' Sauna', ' Varanda', ' Gás Encanado', ' Closet', ' Piscina', ' Mobiliado', ' Armários Planejados', 'Acessibilidade']

In [9]:
lista_dados = str_dados.split(",")
lista_dados

['Área de Serviço',
 ' Terraço',
 ' Churrasqueira',
 ' Quarto/WC Empregada',
 ' Sauna',
 ' Varanda',
 ' Gás Encanado',
 ' Closet',
 ' Piscina',
 ' Mobiliado',
 ' Armários Planejados',
 ' Acessibilidade']

#### Como aplicar esses filtros para toda a coluna?

Precisamos transformar todas a coluna em formato str para poder tratar de forma generalizada:

ex:

    coluna = dados_normal_listings.loc[:,'imovel_caracteristicas_propriedade']
    
    |->  irá retornar uma Series, alguns filtros como o replace não podem ser aplicados para dados no formato de Series, logo é preciso transformar em str para que seja possível aplicar os métodos de filtros necessários para o tratamento dos dados:

    coluna = coluna.str
    
    type(coluna)
    
    >>> pandas.core.strings.accessor.StringMethods

In [10]:
coluna = dados_normal_listings.loc[:,'imovel_caracteristicas_propriedade']
coluna

0     ['Área de Serviço', 'Terraço', 'Churrasqueira'...
1                                             ['Sauna']
2     ['Acessibilidade', 'Área de Serviço', 'Sauna',...
3     ['Vista Panorâmica', 'Piscina', 'Sauna', 'Clos...
4                               ['Armários Planejados']
5     ['Mobiliado', 'Varanda', 'Closet', 'Churrasque...
6     ['Churrasqueira', 'Gás Encanado', 'Cozinha Ame...
7     ['Quarto/WC Empregada', 'Gás Encanado', 'Sauna...
8     ['Acessibilidade', 'Mobiliado', 'Churrasqueira...
9     ['Área de Serviço', 'Terraço', 'Ambientes Inte...
10    ['Closet', 'Ambientes Integrados', 'Área de Se...
11                                                   []
12    ['Piscina', 'Quarto/WC Empregada', 'Gás Encana...
13    ['Sauna', 'Terraço', 'Closet', 'Gás Encanado',...
14                                                   []
15    ['Quarto/WC Empregada', 'Varanda', 'Piscina', ...
16    ['Vista Panorâmica', 'Sauna', 'Área de Serviço...
17    ['Quarto/WC Empregada', 'Churrasqueira', 'Sauna']
18    ['Sauna', 'Ambientes Integrados', 'Armários Pl...
19    ['Mobiliado', 'Acessibilidade', 'Área de Servi...
20    ['Sauna', 'Gás Encanado', 'Terraço', 'Ambiente...
21                                                   []
22    ['Terraço', 'Armários Planejados', 'Ambientes ...
23    ['Área de Serviço', 'Quarto/WC Empregada', 'Cl...
24    ['Cozinha Americana', 'Gás Encanado', 'Mobilia...
25    ['Área de Serviço', 'Ambientes Integrados', 'V...
26    ['Gás Encanado', 'Cozinha Americana', 'Vista P...
27    ['Vista Panorâmica', 'Quarto/WC Empregada', 'S...
28    ['Armários Planejados', 'Piscina', 'Churrasque...
29                                                   []
30    ['Mobiliado', 'Sauna', 'Cozinha Americana', 'Á...
31    ['Cozinha Americana', 'Varanda', 'Vista Panorâ...
32    ['Terraço', 'Vista Panorâmica', 'Piscina', 'Ac...
33    ['Cozinha Americana', 'Quarto/WC Empregada', '...
34    ['Área de Serviço', 'Terraço', 'Piscina', 'Clo...
35    ['Acessibilidade', 'Churrasqueira', 'Sauna', '...
36    ['Sauna', 'Vista Panorâmica', 'Terraço', 'Mobi...
37    ['Gás Encanado', 'Mobiliado', 'Cozinha America...
38    ['Área de Serviço', 'Gás Encanado', 'Cozinha A...
39    ['Acessibilidade', 'Cozinha Americana', 'Varan...
40    ['Sauna', 'Piscina', 'Closet', 'Varanda', 'Ace...
41                    ['Mobiliado', 'Vista Panorâmica']
42                                                   []
43    ['Cozinha Americana', 'Vista Panorâmica', 'Gás...
44    ['Mobiliado', 'Varanda', 'Cozinha Americana', ...
45    ['Ambientes Integrados', 'Sauna', 'Piscina', '...
46    ['Acessibilidade', 'Gás Encanado', 'Área de Se...
47    ['Acessibilidade', 'Quarto/WC Empregada', 'Arm...
48    ['Cozinha Americana', 'Mobiliado', 'Sauna', 'P...
49    ['Varanda', 'Closet', 'Armários Planejados', '...
Name: imovel_caracteristicas_propriedade, dtype: object

In [11]:
coluna = coluna.str

#### Aplicando os filtros:

    - Quando executamos o primeiro filtro " coluna[1:-1] " é retornado um valor em Series, logo, para poder utilizar o replace e o split é necessário transformar novamente os dados em "str", podemos fazer isso incluindo novamente o ".str".

    ex: 

        coluna[1:-1].str.replace("'","").str.split(", ")

In [12]:
coluna[1:-1].str.replace("'","").str.split(", ")

0     [Área de Serviço, Terraço, Churrasqueira, Quar...
1                                               [Sauna]
2     [Acessibilidade, Área de Serviço, Sauna, Ambie...
3     [Vista Panorâmica, Piscina, Sauna, Closet, Mob...
4                                 [Armários Planejados]
5     [Mobiliado, Varanda, Closet, Churrasqueira, Am...
6     [Churrasqueira, Gás Encanado, Cozinha American...
7     [Quarto/WC Empregada, Gás Encanado, Sauna, Var...
8     [Acessibilidade, Mobiliado, Churrasqueira, Pis...
9     [Área de Serviço, Terraço, Ambientes Integrado...
10    [Closet, Ambientes Integrados, Área de Serviço...
11                                                   []
12    [Piscina, Quarto/WC Empregada, Gás Encanado, M...
13    [Sauna, Terraço, Closet, Gás Encanado, Vista P...
14                                                   []
15    [Quarto/WC Empregada, Varanda, Piscina, Sauna,...
16    [Vista Panorâmica, Sauna, Área de Serviço, Pis...
17          [Quarto/WC Empregada, Churrasqueira, Sauna]
18    [Sauna, Ambientes Integrados, Armários Planeja...
19    [Mobiliado, Acessibilidade, Área de Serviço, V...
20    [Sauna, Gás Encanado, Terraço, Ambientes Integ...
21                                                   []
22    [Terraço, Armários Planejados, Ambientes Integ...
23    [Área de Serviço, Quarto/WC Empregada, Closet,...
24    [Cozinha Americana, Gás Encanado, Mobiliado, Á...
25    [Área de Serviço, Ambientes Integrados, Vista ...
26    [Gás Encanado, Cozinha Americana, Vista Panorâ...
27    [Vista Panorâmica, Quarto/WC Empregada, Sauna,...
28    [Armários Planejados, Piscina, Churrasqueira, ...
29                                                   []
30    [Mobiliado, Sauna, Cozinha Americana, Área de ...
31    [Cozinha Americana, Varanda, Vista Panorâmica,...
32    [Terraço, Vista Panorâmica, Piscina, Acessibil...
33    [Cozinha Americana, Quarto/WC Empregada, Área ...
34    [Área de Serviço, Terraço, Piscina, Closet, Gá...
35    [Acessibilidade, Churrasqueira, Sauna, Closet,...
36    [Sauna, Vista Panorâmica, Terraço, Mobiliado, ...
37         [Gás Encanado, Mobiliado, Cozinha Americana]
38    [Área de Serviço, Gás Encanado, Cozinha Americ...
39    [Acessibilidade, Cozinha Americana, Varanda, G...
40    [Sauna, Piscina, Closet, Varanda, Acessibilida...
41                        [Mobiliado, Vista Panorâmica]
42                                                   []
43    [Cozinha Americana, Vista Panorâmica, Gás Enca...
44    [Mobiliado, Varanda, Cozinha Americana, Armári...
45    [Ambientes Integrados, Sauna, Piscina, Vista P...
46    [Acessibilidade, Gás Encanado, Área de Serviço...
47    [Acessibilidade, Quarto/WC Empregada, Armários...
48    [Cozinha Americana, Mobiliado, Sauna, Piscina,...
49    [Varanda, Closet, Armários Planejados, Piscina...
Name: imovel_caracteristicas_propriedade, dtype: object